@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Privacy Policy

    At CivicFix, we respect and protect the privacy of our users.
    The information collected during registration, such as name, email, and contact details, is used only for user authentication and to manage civic complaints submitted through the platform.

    User data is stored securely and is not shared with unauthorized third parties.
    Information related to complaints, including descriptions, locations, and images, is used solely for identifying and resolving civic issues.

    We implement reasonable security measures to safeguard user information, but users should be aware that no online system can guarantee complete security.

    By using CivicFix, you agree to the terms outlined in this privacy policy.
</p>
